{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Modifier une tâche
{% endblock %}

{% block body_id 'tasks_edit' %}

{% block body %}
    <section class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center text-center">
        <div class="container">
            <h2 class="pb-3">{{ task.title }}</h2>
        </div>
    </section>

    <div class="container">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success" formnovalidate>Modifier</button>
        {{ form_end(form) }}

        <p class="py-5">
            <a href="{{ path('task_create') }}" class="btn btn-outline-success btn-block mb-3">Créer une nouvelle tâche</a>
            <a href="{{ path('task_list') }}" class="btn btn-outline-info btn-block mb-3">Consulter la liste des tâches à faire</a>
            <a href="{{ path('task_done') }}" class="btn btn-outline-secondary btn-block">Consulter la liste des tâches terminées</a>
        </p>
    </div>
{% endblock %}
